* {
  margin: 0;
  padding: 0;

  --color1: 49, 133, 112;
  --color2: 150, 112, 164;
  --color3: rgb(147, 34, 34); /* error colour */
}

body {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

a {
  text-decoration: none;
  color: rgba(var(--color1));
}

a:hover {
  color: rgba(var(--color2));
}

/* Image side of the page */

.left-side {
  min-width: 40vw;
  flex-grow: 1;
  background-image: url(./assets/florian-klauer-mk7D-4UCfmg-unsplash.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo-banner {
  background-color: rgba(var(--color1), 0.8);
  width: 100%;
  color: aliceblue;
  text-align: center;
  padding: 2.5em 0px;

  font-size: 40px;
  font-weight: 700;

  margin-top: 25vh;
}

.credit {
  padding: 1em 0px;
}

/* Form side of the page */

.req-info {
  color: rgba(var(--color1), 0.5);
  font-weight: 500;
  font-size: smaller;
}

.right-side {
  min-width: 60vw;
  flex: 3 1 0;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;

  font-size: 20px;
  color: rgb(117, 117, 117);
}

.top {
  flex: 1 1 0;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1em;
}

.middle {
  flex: 1 1 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  background-color: rgba(var(--color1), .1);
  color: rgba(var(--color1));
}

.bottom {
  flex: 1 1 0;
  padding: 2em;
}

.signup {
  font-weight: bold;
}
.form-elements {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1em;
  font-size: 18px;
}

.form-elements > div {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

label,
span {
  margin-left: 2px;
}

input {
  min-width: 20em;
  max-width: 100%;
  height: 2em;
  border: 2px solid rgba(var(--color1), 0.1);
  border-radius: 5px;
  
  color: rgb(36, 36, 36);
  font-size: 14px;
  padding: 0 0.5em;
  box-shadow: inset 1px 1px 2px #ccc;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

input:focus {
  appearance: none;
  border: 2px solid rgba(var(--color1));
  outline: 2px;
}

.fnErr:focus {
  appearance: none;
  border: 2px solid pink;
  outline: 2px;
}

button {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  margin-top: 2.5em;
  background-color: rgba(var(--color1));
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

button:hover {
  background-color: rgba(var(--color2));
}

/* Validation  */
span.error{
  font-size: 0.8em;
  position: relative;
  color: rgba(var(--color1));
  margin-top: -0.4em;
  margin-bottom: -0.4em;
}

span.error.active {
  font-size: 0.8rem;
  position: relative;
  color: rgb(127, 68, 68);
}
