* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

/* Left side of the page */

.left-side {
  min-width: 40vw;
  flex-grow: 1;
  background-image: url(./assets/florian-klauer-mk7D-4UCfmg-unsplash.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo-banner {
  background-color: rgba(49, 133, 112, 0.6);
  width: 100%;
  color: aliceblue;
  text-align: center;
  padding: 2.5em 0px;

  font-size: xx-large;
  font-weight: 900;

  margin-top: 25vh;
}

.credit {
  padding: 1em 0px;
}

/* Right side of the page */

.right-side {
  min-width: 60vw;
  color: white;
  flex: 3 1 0;
  background-color: rgb(202, 202, 202);

  display: flex;
  flex-direction: column;
}

.top {
  flex: 1 1 0;
  border: 1px solid red;
  padding: 1em;
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1em;

  font-size: 20px;
}

.middle {
  flex: 1 1 0;
  border: 1px solid red;

  display: flex;
  flex-wrap: wrap;
}

.bottom {
  flex: 1 1 0;
  border: 1px solid red;
}
