body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/mak-RlxP6WGmfP0-unsplash.jpg);
}

.content {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1 1 auto;
}
.right {
  flex: 2 1 auto;
  background-color: rgb(255, 255, 255);
}